<h1>Users</h1>
<hr />

<div class="ui list">
  <% @users.each do |user| %>
    <div class="item">
      <div class="content">
        <%= link_to user.full_name, user, class: "header"%>
        <%# Check whether the user has actually had previous appointments %>
        <% if user.appointments.find_last_appt %>
          <div class="description">Last Seen on: <%= user.appointments.find_last_appt %></div>
        <% else %>
          <div class="description">New User - No Previous Appointments</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>  