<div class="column">
  <table class="ui striped table">  
    <thead class="center aligned">
      <tr>
        <th colspan="3"><h1>All Appointments</h1></th>
      </tr>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>User</th>
      </tr>
    </thead>
  
    <% Appointment.all.each do |appointment| %>
      <tbody>
        <tr class="center aligned">
          <td><%= appointment.date.strftime("%m/%d/%y") %></td>
          <td><%= appointment.time.strftime("%I:%M%p") %></td>
          <td><%= appointment.user.full_name %></td>
      </tbody> 
    <% end %>
  </table>
</div>